{% extends 'layout.html' %}

{% block heading %}
<h1 class="mx-3 lg:mx-36 my-3 text-3xl font-semibold leading-normal text-slate-400 flex justify-start items-center">
    {% if form.instance.pk %} 
        Edit Tweet
    {% else %}
        Create Tweet
    {% endif %}
</h1>
{% endblock %}

{% block content %}
<form class="form flex flex-col gap-4 mx-36 min-h-full bottom-0" enctype="multipart/form-data" method="post">
    {% csrf_token %}

    <label for="{{ form.text.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your message</label>
    {{ form.text }}

    <div>
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="user_avatar">Upload Photo</label>
        <input class="block w-1/2 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="user_avatar_help" id="user_avatar" name="photo" type="file">
        {{form.photo}}
        <div class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="user_avatar_help">A picture is useful to get more attention!</div>
    </div>
    
    <div class="button flex justify-center items-center">
        <a href="{% url 'tweet_list' %}">
            <button type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg  border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Back to Tweet List</button>
        </a>
        <button type="submit" class="w-48 text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2 transform transition-transform">Post</button>
    </div>
</form>
{% endblock %}